# Learning Objectives
Upon completion of this lab, you should be able to
<ul>
 <li> use <strong>Pandas DateFrame</strong>
 <li> explore <strong>Pandas DateFrame</strong> basic properties
<li> clean <strong>Pandas DateFrame</strong>
    <li> extract useful information from <strong>Pandas DateFrame</strong>
</ul>

### Loading Modules

In [1]:
import pandas as pd
import numpy as np
import os
MB = 2**20 # 1 MegaByte = 2**20 Bytes

### The Data
<hr>
An unidentified flying object (UFO) is any perceived aerial phenomenon that cannot be immediately identified or explained (<a href='https://en.wikipedia.org/wiki/Unidentified_flying_object'>Wikipedia</a>).  A dataset of <strong>UFO</strong> sightings in the United States is provided below.
<hr>

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

## Task 1 (20 Marks)

<hr>
Display the first/last <b>7</b> seven rows of the <strong>ufo DataFrame</strong>. (4 Marks)</strong>
<hr>

In [4]:
# your code should goes here
ufo.head(7)

ufo.tail(7)

                 City Colors Reported Shape Reported State              Time
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

<hr>
Using <b>list comprehension</b>, extract all the <strong>methods</strong> that are used to save a <strong>DataFrame</strong> into <strong>disk</strong>. (4 Marks)</strong>
<hr>

In [8]:
# your code should goes here


[f for f in dir(pd.DataFrame) if f.startswith("to_")]

['to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml']

<hr>
Save the <strong>ufo DataFrame</strong> into the following file format:
<ul>
    <li> <strong>CSV</strong> format <strong>(2 Marks)</strong>
    <li> <strong>JSON</strong> format <strong>(2 Marks)</strong>
    <li> <strong>Excel</strong> format <strong>(2 Marks)</strong>
    <li> <strong>HTML</strong> format <strong>(2 Marks)</strong>
     <li> <strong>Latex</strong> format <strong>(2 Marks)</strong>
    <li> <strong>Pickle</strong> format <strong>(2 Marks)</strong>
</ul>
All the files must be saved in <strong>data</strong> directory.
<hr>

In [11]:
# your code should goes here


ufo.to_csv(r'.\data\ufo.csv')
ufo.to_json(r'.\data\ufo.json')
ufo.to_excel(r'.\data\ufo.xlsx')
ufo.to_html(r'.\data\ufo.html')
ufo.to_latex(r'.\data\ufo.tex')
ufo.to_pickle(r'.\data\ufo.pkl')

## Task 2 (40 Marks)

### <hr>
Display <strong>ufo DataFrame</strong> detailed info. <strong>(2 Marks)</strong>
<hr>

In [12]:
# your code should goes here
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

<hr>
Display <strong>ufo DataFrame</strong> shape . <strong>(2 Marks)</strong>
<hr>

In [14]:
# your code should goes here
ufo.shape

(18241, 5)

<hr>
Display <strong>ufo DataFrame</strong> columns names . <strong>(2 Marks)</strong>
<hr>

In [16]:
# your code should goes here
ufo.columns.to_list()

['City', 'Colors Reported', 'Shape Reported', 'State', 'Time']

<hr>
Display <strong>ufo DataFrame</strong> row names . <strong>(2 Marks)</strong>
<hr>

In [6]:
# your code should goes here

ufo.row

<hr>
Write a <strong>function</strong> <strong>get_size_in_memory()</strong> that displays the size of a <strong>DataFrame</strong> in <strong>memory (RAM)</strong> in <strong>MegaBytes</strong>. <strong>(8 Marks)</strong>
<hr>

In [22]:
# your code should goes here
#ufo.memory_usage().sum()

def get_size_in_memory(dataframe):
    memory_usage_bytes = dataframe.memory_usage().sum()
    memory_usage_mb = memory_usage_bytes / MB  # Convert bytes to MegaBytes
    return memory_usage_mb

get_size_in_memory(ufo)

0.6959648132324219

<hr>
Using the <strong>get_size_in_memory()</strong> function, display the size <strong>ufo DataFrame</strong> in memory with <strong>5 decimal</strong> places. <strong>(4 Marks)</strong>
<hr>

In [23]:
# your code should goes here
mem_usage_mb = round(get_size_in_memory(ufo),5)
mem_usage_mb

0.69596

<hr>
Write a <strong>function</strong> with a name <strong>get_size_in_disk()</strong> that displays the size of a file in disk in <strong>MegaBytes</strong>. <strong>(8 Marks)</strong>
<hr>

In [24]:
# your code should goes here
import os

def get_file_size(file_path):
    file_size_bytes = os.path.getsize(file_path)
    file_size_mb = file_size_bytes/MB
    return file_size_mb

get_file_size(r'.\data\ufo.csv')

0.7490701675415039

<hr>
Using the <strong>get_size_in_disk()</strong> function, display the size of each <strong>ufo</strong> file with <strong>3 decimal</strong> places. <strong>(12 Marks)</strong>
<hr>

In [28]:
# your code should goes here
temp = round(get_file_size(r'.\data\ufo.csv'),3)
print(f"Size in MB with 3 decimal numb: {temp} MB")

Size in MB with 3 decimal numb: 0.749 MB

### Task 3 (40 Marks)

Display the number of missing values per each column. (<strong>4 Marks</strong>)

In [32]:
# your code should goes here
ufo.isna().sum()

City                  26
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

Remove all the <strong>rows</strong> with missing values and store the result in a <strong>DataFrame</strong> with a name <strong>ufo_clean</strong>. Check that all <strong>missing values</strong> are removed.(<strong>6 Marks</strong>)

In [38]:
# your code should goes here
ufo_clean = ufo.dropna()
ufo_clean.isna().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

<hr>
Save the <strong>clean ufo DataFrame</strong> into the following file format:
<ul>
    <li> <strong>CSV</strong> format <strong>(1 Marks)</strong>
    <li> <strong>JSON</strong> format <strong>(1 Marks)</strong>
    <li> <strong>Excel</strong> format <strong>(1 Marks)</strong>
    <li> <strong>HTML</strong> format <strong>(1 Marks)</strong>
     <li> <strong>Latex</strong> format <strong>(1 Marks)</strong>
    <li> <strong>Pickle</strong> format <strong>(1 Marks)</strong>
</ul>
All the files must be saved in <strong>data</strong> directory.
<hr>

In [42]:
# your code should goes here
ufo_clean.to_csv(r'.\data\ufo_clean.csv')
ufo_clean.to_json(r'.\data\ufo_clean.json')
ufo_clean.to_excel(r'.\data\ufo_clean.xlsx')
ufo_clean.to_html(r'.\data\ufo_clean.html')
ufo_clean.to_latex(r'.\data\ufo_clean.tex')
ufo_clean.to_pickle(r'.\data\ufo_clean.pkl')

<hr>
Compute all the <strong>different UFO colors</strong> and the number of <strong>different UFO colors</strong>.(<strong>4 Marks</strong>)
<hr>

In [58]:
# your code should goes here
ufo_colors = ufo_clean['Colors Reported'].unique()
print(f"Total different UFO Colors {len(ufo_colors)}")
ufo_colors

Total different UFO Colors 26

array(['RED', 'GREEN', 'BLUE', 'ORANGE', 'YELLOW', 'ORANGE YELLOW',
       'RED GREEN', 'RED BLUE', 'RED ORANGE', 'RED GREEN BLUE',
       'RED YELLOW GREEN', 'RED YELLOW', 'GREEN BLUE',
       'ORANGE GREEN BLUE', 'ORANGE GREEN', 'YELLOW GREEN',
       'RED YELLOW BLUE', 'ORANGE BLUE', 'RED YELLOW GREEN BLUE',
       'YELLOW BLUE', 'RED ORANGE YELLOW', 'RED ORANGE GREEN',
       'RED ORANGE BLUE', 'YELLOW GREEN BLUE', 'ORANGE YELLOW GREEN',
       'ORANGE YELLOW BLUE'], dtype=object)

In [59]:
count = ufo_clean['Colors Reported'].value_counts()
print("Number of UFO colors")
count

Number of UFO colors

Colors Reported
RED                      650
ORANGE                   480
GREEN                    467
BLUE                     383
YELLOW                   141
RED GREEN                 79
RED BLUE                  60
RED ORANGE                43
GREEN BLUE                28
RED GREEN BLUE            26
RED YELLOW                24
ORANGE YELLOW             23
ORANGE GREEN              20
YELLOW GREEN              13
ORANGE BLUE               10
RED YELLOW GREEN           9
YELLOW BLUE                6
ORANGE GREEN BLUE          5
RED YELLOW GREEN BLUE      3
RED ORANGE YELLOW          3
RED ORANGE GREEN           3
RED ORANGE BLUE            3
YELLOW GREEN BLUE          3
RED YELLOW BLUE            2
ORANGE YELLOW GREEN        1
ORANGE YELLOW BLUE         1
Name: count, dtype: int64

<hr>
Compute all the <strong>different UFO shapes</strong> and the number of <strong>different UFO shapes</strong>.(<strong>4 Marks</strong>)
<hr>

In [65]:
# your code should goes here
ufo_shape = ufo_clean['Shape Reported'].unique()
print(f"Total different UFO Colors {len(ufo_shape)}")
print(f"{ufo_shape}\n")

ufo_count_shape =  ufo_clean['Shape Reported'].value_counts()
print(f"Number of UFO shape: \n {ufo_count_shape}")

Total different UFO Colors 25
['SPHERE' 'OTHER' 'FORMATION' 'CHEVRON' 'DISK' 'CIRCLE' 'CIGAR' 'TRIANGLE'
 'FIREBALL' 'OVAL' 'EGG' 'CYLINDER' 'LIGHT' 'VARIOUS' 'RECTANGLE'
 'DIAMOND' 'FLASH' 'TEARDROP' 'CONE' 'ROUND' 'PYRAMID' 'CRESCENT' 'DELTA'
 'HEXAGON' 'CROSS']

Number of UFO shape:
 Shape Reported
LIGHT        575
FIREBALL     340
CIRCLE       238
SPHERE       221
TRIANGLE     211
DISK         202
OTHER        183
OVAL         131
CIGAR         68
FORMATION     61
VARIOUS       54
FLASH         34
CYLINDER      34
RECTANGLE     28
DIAMOND       27
CHEVRON       24
EGG           20
TEARDROP      19
CONE           8
CROSS          3
ROUND          1
PYRAMID        1
CRESCENT       1
DELTA          1
HEXAGON        1
Name: count, dtype: int64

<hr>
Which <strong>state/city</strong> has the most <strong>UFO</strong> sightings? (<strong>5 Marks</strong>)
<hr>

In [71]:
# your code should goes here
count_state = ufo_clean['State'].value_counts()
count_city = ufo_clean['City'].value_counts()

print(f"State has the most UFO sighting {count_state.head(1)}\n")

print(f"City has the most UFO sighting {count_city.head(1)}")

State has the most UFO sighting State
CA    389
Name: count, dtype: int64

City has the most UFO sighting City
Seattle    24
Name: count, dtype: int64

<hr>
In terms of <strong>color/shape</strong>, what is the <strong>most commonly</strong> reported <strong>UFO</strong>?
(<strong>5 Marks</strong>)
<hr>

In [72]:
# your code should goes here
color_count = ufo_clean['Colors Reported'].value_counts()
ufo_shape = ufo_clean['Shape Reported'].value_counts()


print(f"Color has the most commnly report {color_count.head(1)}\n")

print(f"Shape  has the most commnly report {ufo_shape.head(1)}")

Color has the most commnly report Colors Reported
RED    650
Name: count, dtype: int64

Shape  has the most commnly report Shape Reported
LIGHT    575
Name: count, dtype: int64

<hr>
Identify all sightings where the <strong>state</strong> is California (<strong>CA</strong>), the <strong>UFO color</strong> is <strong>red</strong>, and the <strong>UFO shape</strong> is <strong>triangle</strong>. (<strong>6 Marks</strong>)
<hr>

In [74]:
# your code should goes here
query_ufo = ufo_clean[(ufo_clean['State'] == 'CA') & (ufo_clean['Colors Reported'] == 'RED') & (ufo_clean['Shape Reported'] == 'TRIANGLE')]

query_ufo

             City Colors Reported Shape Reported State              Time
2643      La Mesa             RED       TRIANGLE    CA    6/14/1974 5:30
3276    San Diego             RED       TRIANGLE    CA     7/1/1976 0:00
4491   Long Beach             RED       TRIANGLE    CA   1/15/1981 20:00
5992     Stockton             RED       TRIANGLE    CA  11/15/1988 18:00
6992   Chatsworth             RED       TRIANGLE    CA   3/15/1993 20:00
8127     Glendale             RED       TRIANGLE    CA   5/19/1995 22:00
11973  Coarsegold             RED       TRIANGLE    CA   8/13/1998 22:00
17296   San Diego             RED       TRIANGLE    CA   8/26/2000 21:30
17343     Redding             RED       TRIANGLE    CA    9/5/2000 21:25