In [17]:
import pandas as pd
import numpy as np
import random
import string

In [13]:
data = [random.randint(10,99) for _ in range(5)]
series = pd.Series(data,dtype='int16')
series

0    67
1    93
2    55
3    83
4    20
dtype: int16

In [12]:
print(series.values)
print(series.index)

[35 18 21 68 36]
RangeIndex(start=0, stop=5, step=1)

In [16]:
help(random.gauss)

Help on method gauss in module random:

gauss(mu=0.0, sigma=1.0) method of random.Random instance
    Gaussian distribution.

    mu is the mean, and sigma is the standard deviation.  This is
    slightly faster than the normalvariate() function.

    Not thread-safe without a lock around calls.

In [14]:
data = [random.gauss(70,10) for _ in range(5)]
series = pd.Series(data)
series

0    73.695673
1    85.914394
2    48.165509
3    67.297670
4    88.791662
dtype: float64

In [15]:
data = [random.gauss(70,10) for _ in range(5)]
series = pd.Series(data,dtype="float16")
series

0    72.87500
1    54.96875
2    85.50000
3    63.84375
4    79.37500
dtype: float16

In [19]:
data = [random.gauss(70,10) for _ in range(26)]
series = pd.Series(data,index = list(string.ascii_lowercase) ,dtype='float16')
series

a    73.43750
b    73.25000
c    69.43750
d    85.12500
e    67.87500
f    67.37500
g    74.68750
h    68.25000
i    74.62500
j    65.50000
k    68.25000
l    60.75000
m    79.18750
n    79.06250
o    70.75000
p    66.00000
q    70.56250
r    76.06250
s    75.12500
t    68.56250
u    74.56250
v    70.06250
w    51.68750
x    86.75000
y    73.25000
z    56.28125
dtype: float16

In [22]:
data = [random.gauss(70,10) for _ in range(5)]
series = pd.Series(data,index = list(string.ascii_lowercase)[:5] ,dtype='float16')
series

a    58.46875
b    63.96875
c    62.09375
d    70.06250
e    68.37500
dtype: float16

In [23]:
series[1:3]

b    63.96875
c    62.09375
dtype: float16

In [24]:
series['b':'e']

b    63.96875
c    62.09375
d    70.06250
e    68.37500
dtype: float16

what is series index 
what is series value

In [25]:
#default dtype = float64 
[random.random() for _ in range (5)]

[0.3620378668827662,
 0.02918351394930707,
 0.6636039288225621,
 0.23636280174695823,
 0.23851373878690862]

In [31]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

score = {'quizzes':89.3, 'assignment': 80, 'midterm': 90.3, 'final': 80}
series = pd.Series(score)
print(series[1:2])
print(series['assignment':'midterm'])

assignment    80.0
dtype: float64
assignment    80.0
midterm       90.3
dtype: float64

In [33]:
alphabet=string.ascii_uppercase
df = pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0 -0.420770  0.180315 -0.797142  0.146634  0.200130
1 -1.661805  2.320277  0.571429 -0.488762 -0.254033
2 -0.743245  0.009923  0.813657 -1.299314 -0.569141
3  0.253927  2.047471 -0.732476 -0.151218  0.486779
4  0.934348  1.219737 -2.275424 -0.983450 -1.474548
5  1.538000 -1.067718 -0.497227  0.597033  1.532654
6 -0.441447 -1.521840 -0.632433  0.136215 -0.226234
7 -1.225078 -0.256911  1.658625  0.136327 -1.023291
8  0.757642 -0.544319 -1.059022 -0.101889 -0.530524
9 -0.313537  1.380661 -1.161279  1.167063  0.481474

In [34]:
df_1 = pd.DataFrame([np.arange(5),np.arange(5,10),np.arange(10,15)])
df_1

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [ ]:
## reshape()
## add 
## remove,  inplace =True

In [35]:
df = pd.DataFrame(np.random.randn(100,4), columns=['one','two','three','four'])

df

         one       two     three      four
0   0.768166 -1.189906 -0.533149 -1.163444
1   0.671778  0.991238  0.037050  1.009580
2  -0.508027 -0.702729  3.506561 -1.293513
3   0.486624  0.319878  1.182365  1.065761
4   1.393106 -0.349485  0.635932  0.785069
..       ...       ...       ...       ...
95  0.962438 -0.373877 -1.757508  0.479097
96  0.924151 -1.179643  1.502565  0.161962
97  0.659159  0.452655 -0.010531 -1.679877
98 -0.319351  0.457203 -2.504298  0.348198
99 -1.093095  0.258673 -1.283821 -1.263622

[100 rows x 4 columns]

In [36]:
[f for f in dir(pd) if f.startswith("read")]

['read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml']